### *ABDULLAH TURĞUT - STAJ BAŞVURU PROJESİ (1)*

In [29]:
import boto3
import pandas as pd
import io

In [50]:
#kimlik bilgileri ile boto3 kullanarak aws kaynağına bağlanma
aws_resource = boto3.resource(
    service_name = 's3',
    aws_access_key_id = 'AKIA532PZ2EFIGFZBCSI',
    aws_secret_access_key = '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',
    region_name = 'us-east-2'
)

In [28]:
#dosyaları internetten okuma

#kaynaktan verileri indir ve df'in içine at
buffer = io.BytesIO()
object = aws_resource.Object('outsmartooh-demo','ornek_dosya.parquet')
object.download_fileobj(buffer)
dataframe = pd.read_parquet(buffer)

NameError: name 'aws_resource' is not defined

In [74]:
#dosyaları local'den okuma

dataframe = pd.read_csv("ornek_dosya.csv").iloc[:,1:]
dataframe

,id,latitude,longitude,timestamp
0,52bcf82d012cc0f961d55d130c3d6ef74ce229bdfdfeaa...,41.0138,28.9497,1615464401
1,abe5f7fb9500306a0702a8de936d3dd17d1ee69d10845d...,41.0209,28.9217,1615464401
2,de192112e9e4567155850e80429bfbf4b94ea215d11292...,41.0278,28.9392,1615464402
3,bdc72bdedff9dd108d86bc65180ca955163b5725917757...,41.0382,28.9864,1615464402
4,245c3ecdb1dad6d353bd9c3c985c04db287ea871100c2a...,41.0529,29.0013,1615464402
...,...,...,...,...
11704667,9f692571547c854fcbc7111669da16c096da15034fdf83...,41.0108,28.9482,1615476417
11704668,047c57b7df9a18c23a1ca142ab68bbb2733b5bea2850ec...,41.0209,28.9217,1615476417
11704669,449cb520be9dd218b434fec835e3c8d8c7f4798da12c61...,41.0538,28.9374,1615476417
11704670,8be179ff559a59603c4b06e76b89aae36aa72fc98587a2...,41.0488,28.9517,1615476417
11704671,04f4d48b760f271dcbde42e52dfcfb101ee113cd894ac8...,41.0209,28.9217,1615476417

In [75]:
#string'e çevirdikten sonra sayıya etkisi olmayan 0'lar siliniyor, bu sıfırları tekrar getirmek için burada noktadan sonraki değerleri tekrar 6 haneye çeviriyorum
dataframe["latitude"] = dataframe["latitude"].apply(lambda x: "{:.6f}".format(x))
dataframe["longitude"] = dataframe["longitude"].apply(lambda x: "{:.6f}".format(x))

In [76]:
#latitude ve longitude değerlerinin bir arada olduğu yeni bir kolon oluşturuyorum (aynı konumdaki verileri bulmak için)
dataframe["lat-long"] =  dataframe["latitude"] + "," + dataframe["longitude"]

In [77]:
dataframe

,id,latitude,longitude,timestamp,lat-long
0,52bcf82d012cc0f961d55d130c3d6ef74ce229bdfdfeaa...,41.013800,28.949700,1615464401,"41.013800,28.949700"
1,abe5f7fb9500306a0702a8de936d3dd17d1ee69d10845d...,41.020900,28.921700,1615464401,"41.020900,28.921700"
2,de192112e9e4567155850e80429bfbf4b94ea215d11292...,41.027800,28.939200,1615464402,"41.027800,28.939200"
3,bdc72bdedff9dd108d86bc65180ca955163b5725917757...,41.038200,28.986400,1615464402,"41.038200,28.986400"
4,245c3ecdb1dad6d353bd9c3c985c04db287ea871100c2a...,41.052900,29.001300,1615464402,"41.052900,29.001300"
...,...,...,...,...,...
11704667,9f692571547c854fcbc7111669da16c096da15034fdf83...,41.010800,28.948200,1615476417,"41.010800,28.948200"
11704668,047c57b7df9a18c23a1ca142ab68bbb2733b5bea2850ec...,41.020900,28.921700,1615476417,"41.020900,28.921700"
11704669,449cb520be9dd218b434fec835e3c8d8c7f4798da12c61...,41.053800,28.937400,1615476417,"41.053800,28.937400"
11704670,8be179ff559a59603c4b06e76b89aae36aa72fc98587a2...,41.048800,28.951700,1615476417,"41.048800,28.951700"
11704671,04f4d48b760f271dcbde42e52dfcfb101ee113cd894ac8...,41.020900,28.921700,1615476417,"41.020900,28.921700"

In [78]:
#en çok tekrar eden 3 konum
mostFrequentID = dataframe['lat-long'].value_counts().iloc[:3]

In [79]:
#her bir konum için en fazla veri gönderen 3 kişiyi ekrana yazdırma
for i in range(0,3):
    print(dataframe[(dataframe['lat-long'] == mostFrequentID.index[i])]['id'].value_counts().iloc[:3])

6bb75afbdb695e7e0439bdf40643312bea88aeb118efe44a2df19762aee5999e6934a91be524714d5bf09a346681cf78    6036
340833f260ac2f0a25e27b6412709adc246c4f50279b916266322ed889313fb6de5117d9eae1e3696a99689b8acb29a8    4346
64cb32d4b7f2343d2f3db7c777ea1226d5aeee3aeddeda976849e24392308dfa0140a9eac76e8d14dd87569b8d3bb9af    4038
Name: id, dtype: int64
963f611ebd5bc8158a11c73237e5f258de69a6e1625e5d3b0972c69db32c35ea98ffaa289b8d5b600b28607100fb23ac    3375
60cb5fe3d6b53df1ba5e0362b0e2df7dee7b64d68a5b48eb2422f3f5484a8a797ef3f4ba470927e8d2787ec319f41b2b    2068
d3a56e175ef31d82238ec2f33787cf142d9ca1b6027e4cb3a436b657b7a9ced081cabf272acc957153bad495cc011e99    1587
Name: id, dtype: int64
1a10f506c198cafdc431a7afc7ee77965339441c52ce898ef2b1af5b31ead8ff0fda9e71c002f04338e5b2bfe08015da    2905
166c602e7825823dc7e0475a9e828fcbcc98278c81b636f09c50785042ed725c56874d86a4c54586bd50ccf430938262    2579
10da1bbee39237ee66d7f6c80022064383bf65af26c472c0a1a4dfb11552e81f159edb1bf965c52d7d2e40b0bb09d619    2487
Name: id, dtype: int64

In [80]:
#aynı anda farklı yerlerden veri gönderen kişiler

timestamps = []

tags = ["id", "latitude", "longitude", "timestamp", "lat-long"]
new_dataframe = pd.DataFrame(columns = tags)

for item in dataframe["timestamp"].value_counts().index:
    timestamps.append(item)
    
for i in liste:
    temp_dataframe = dataframe[(dataframe['timestamp'] == item)]
    new_dataframe = new_dataframe.append(temp_dataframe)


new_dataframe = new_dataframe.drop_duplicates(subset='lat-long', keep="last")
new_dataframe["id"].values

array(['d5f1513a95ccf7fbea328eb8022864f4fa7d9d6550f5c314ccc9ba2d49574bdd67157c89bff9f880258c9f95edab7460',
       'c1eeb1443ab4bb1e731be90dc594f943c113abdc3c04f0b83cd8357c7d7e9ed461c6cc8b0499a02931b6eff000b2262a',
       '6d44f88b413bc6837bab21220bdf44fdb53e68317326b67b07fcb113b50686fbb9afeed3be30d900e5b06e11d3aaf6ea',
       'dab8c6c962e0bfcb518f98dbd31bc0edb18defc124548309e87a2afe068b7b7c331824a29d3a477f6ccf0cbdf29c8c35',
       'b226f8c3a9146014aab335d91fff36c63a5939b5ec9bb53bedc48c0b0e0c59b12cda1a7d83a575bab765f6aac961fd75',
       '4183a270f53bd40e1297e9616fd3705e3b2231d5d26d91fb3976fecd0a89bc2f5dc693c415d2831b98b036c35ccb8ff4'],
      dtype=object)